@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Passion+One&family=Sriracha&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{outline: none;}

body{
  background-color: rgb(4, 3, 37);
  color: rgb(221, 214, 214);
  font-family: 'Fira Sans Condensed', sans-serif;
}